@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;800&display=swap');

body {
    font-family: 'Mukta', sans-serif;
    text-align: center;
    margin: auto;
    background-color: #7c3aed;
}

.heading {
    color: #e7b57c;
    padding-top: 1rem;
}

label, input {
    display: block;
    margin: auto;
    color: wheat;
}

label {
    padding: 1rem;
    font-size: larger;
}

input {
    padding: 0.7rem;
    border-radius: 0.5rem;
    background-color: wheat;
    color: black;
    text-align: center;
    width: 17%;
}

button {
    margin: 1.5rem auto;
    padding: 0.7rem;
    background: transparent;
    border-color: #000000;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
}
.btn-check:hover{
    background-color: #1e293b;
    /* color: #2f2e41; */
    color: white;
}

.output {
    font-size: x-large;
    color: wheat;
    padding-bottom: 0;
    margin-bottom: 0%;
}

.notice {
    border: 1px solid white;
    border-radius: 1rem;
    color: #ed3a90;
    font-size: large;
    display: inline;
    padding: 0.5rem;
    margin: 1rem auto;
}

img{
    width: 200px;
}

.footer {
    padding: 1rem 0rem;
    text-align: center;
    color: black;
    margin-top: 12rem;
}
.link {
    box-sizing: border-box;
    text-decoration: none;
   
}
.link:hover{
    background-color: #1e293b;
    color: white;
    padding: 0.1rem;
    border-radius: 1rem;
  
}

.footer .link {
    color: #f0ecf6;
    text-decoration: none;

}

.footer .footer-header {
    font-weight: bold;
    font-size: larger;
    color: white;
}

.footer li {
    display: inline;
    padding: 1rem;
    text-align: center;
}